
<ion-view view-title="Categories" hide-back-button="true">
  <ion-content>
    <ion-list>
	  <ion-item ng-repeat="category in categories" href="#/app/category/{{category.id}}">
	    {{ category.name }}
	  </ion-item>
	</ion-list>
  </ion-content>
</ion-view>