<ion-view title="{{ post.category }}">
    <ion-content padding="'true'" class="has-header has-footer">
       
        <ion-list>
          <ion-refresher pulling-text="Refreshing" on-refresh="refresh()">
          </ion-refresher>
            <a ng-repeat="post in posts | filter: query" href="#/app/detail/{{post.id}}"
               class="item item-thumbnail-left">
              <img ng-src="{{ post.image }}">
              <h2>{{post.name}}</h2>
              <h4>{{ post.content }}</h4>
            </a>
      </ion-list>
       <ion-infinite-scroll
          ng-if="canShowMore"
          icon="ion-loading-c"
          on-infinite="getResultsPage()"
          distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>