<ion-view title="{{ post.name }}">
    <ion-content padding="'true'" class="has-header has-footer">
        
            <img ng-src="{{ post.image }}" width="100%"></img>
        <div>
        	<h4>{{ post.name }}</h4>
        	<p><cite>{{ post.posted_at }}</cite></p>
            <p ng-bind-html="post.content"></p>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="footer-bar">
    	<div class="bar bar-footer bar-stable">
    		<div class="row">
    			<div class="col-10 pull-left">
	    			<a href="#/app/detail/{{ post.previous }}">
						<i class="ion-arrow-left-c"></i>
	    			</a>
    			</div>
				<div class="col-10 col-offset-10">
					<a href="{{ post.link }}" target="_blank">
						<i class="ion-ios-paper">&nbsp;Full news</i>
					</a>
					
				</div>
				<div class="col-20 col-offset-20">
					<button class="button button-positive" ng-click="share()">
				        Share
				    </button>
					
				</div>
				<div class="col-20 col-offset-20 pull-right">
					<a href="#/app/detail/{{ post.next }}">
						<i class="ion-arrow-right-c"></i>
					</a>
				</div>
    		</div>
    	</div>
	  
	</ion-footer-bar>
</ion-view>