/* Empty. Add your own CSS if you like */
.menu-text{
	padding: 5px;
}

.footer-bar{
	background-color: #f7edf7
}
#search-bar {
  background: none;
  position: absolute;
  width: 100%;
  top: 44px;
  height: 40px;
  z-index: 3;
}
#search-input {
  text-align: center;
}